[submodule ".registry"]
	path = .registry
	url = https://github.com/stantraykov/stantraykov.r-universe.dev
	branch = HEAD
[submodule "fundsr"]
	path = fundsr
	url = https://github.com/StanTraykov/fundsr
	branch = v0.2.0
